{% extends "qa/base.html" %}
<!--<a href="{% url 'question_details' question.id %}"> -->
{% block title %} {{ block.super }} Questions list {% endblock %}
{% block list %}
    {% if questions %}
        index template
        <ul>
            {% for question in questions %}
                <li>
                    <a href="/question/{{ question.pk }}/">

                        {{ question.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div>
        <span>
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">
                    previous
                </a>
            {% endif %}

            <span>
                Page {{ page.number }} of {{ page.paginator.num_pages }}
            </span>

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">
                    next
                </a>
            {% endif %}
        </span>
    </div>
{% endblock %}